* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.d-block {
    display: block;
}

.container {
    background-color: #ddd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    font-size: 1.2rem;
    font-family: sans-serif;
}

.item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px 40px;
}

.item form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item input[type="email"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    font-size: 1.5rem;
}

.item input[type="submit"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 1.2rem;
    margin-top: 10px;
}

.item .log {
    background-color: lightgray;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 20px 0;
    font-weight: bold;
    color: #fff;
}

.item .log.success {
    background-color: lightgreen;
}

.item .log.fail {
    background-color: lightcoral;
}

.item .suggerimenti button {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
}

.item .suggerimenti button i {
    position: absolute;
    right: 10px;
}

.item .suggerimenti ul {
    text-align: center;
}

.item .suggerimenti li {
    border: 1px solid lightgray;
}


